@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.eot");
  src: local("Bebas Neue Book"), local("BebasNeueBook"), url("../fonts/BebasNeueBook.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBook.woff") format("woff"), url("../fonts/BebasNeueBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

input, button, textarea {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 19.5px;
  color: #000;
}

.sec-title {
  font-family: "Bebas Neue Book";
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.content {
  max-width: 1093px;
  width: 100%;
}

.aside {
  width: 260px;
  max-height: 790px;
  -webkit-box-shadow: 2px 0px 6px rgba(91, 91, 91, 0.1);
          box-shadow: 2px 0px 6px rgba(91, 91, 91, 0.1);
}
.aside__logo {
  margin-bottom: 35px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 21px 40px;
}
.aside__logo img {
  max-height: 117px;
  max-width: 172px;
}
.aside__nav {
  padding-left: 10px;
}
.aside__nav_item {
  margin-bottom: 12px;
  display: block;
  padding-left: 20px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.aside__nav_item:hover {
  color: #E31E24;
}
.aside__nav_item.nav-active {
  color: #E31E24;
  font-weight: 500;
  position: relative;
}
.aside__nav_item.nav-active:after {
  position: absolute;
  content: url("../img/nav-active.png");
  top: 0;
  left: 0;
}
.aside__contacts {
  padding-left: 30px;
  margin-bottom: 20px;
}
.aside__contacts_title {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 13px;
}
.aside__contacts_item {
  display: block;
  position: relative;
  padding-left: 31px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.aside__contacts_item.adress {
  margin-bottom: 20px;
}
.aside__contacts_item.adress:after {
  position: absolute;
  content: url("../img/geo.svg");
  top: -3px;
  left: 0;
}
.aside__contacts_item.tel:after {
  position: absolute;
  content: url("../img/tel.svg");
  top: -3px;
  left: 0;
}
.aside__feed {
  padding-left: 35px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #E31E24;
  margin-bottom: 20px;
}
.aside__inst {
  padding-left: 30px;
}
.aside__inst svg {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aside__inst svg path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.aside__inst:hover svg path {
  fill: #E31E24;
}

.main {
  max-width: 1182px;
  width: 100%;
}
.main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 100px;
}
.main__top_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__top_item {
  display: block;
  margin-right: 40px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__top_item:hover {
  color: #E31E24;
}
.main__top_item.main-nav-active {
  color: #E31E24;
  font-weight: 500;
}
.main__top_download {
  font-size: 16px;
  line-height: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.main__top_download:hover {
  color: #E31E24;
}

/*Content blocks*/
.prev {
  margin-bottom: 90px;
}
.prev__inner {
  position: relative;
}
.prev__inner .prev-left {
  position: absolute;
  top: 87px;
  left: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.prev__inner .prev-left:hover {
  opacity: 1;
}
.prev__inner .prev-right {
  position: absolute;
  top: 70px;
  right: 10px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.prev__inner .prev-right:hover {
  opacity: 1;
}
.prev__inner .prev-top {
  position: absolute;
  top: 5px;
  left: 378px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.prev__inner .prev-top:hover {
  opacity: 1;
}
.prev__inner .prev-bottom {
  position: absolute;
  bottom: 14px;
  right: 154px;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.prev__inner .prev-bottom:hover {
  opacity: 1;
}
.prev__btn {
  padding: 18px 82px 18px 20px;
  background-color: #E31E24;
  display: inline-block;
  position: absolute;
  bottom: 5px;
  left: 111px;
  color: #fff;
}
.prev__btn:after {
  position: absolute;
  content: url("../img/right.svg");
  right: 40px;
  top: calc(50% - 7px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.prev__btn:hover:after {
  -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
          transform: translateX(20px);
}

.about {
  padding: 0 0 0 63px;
  position: relative;
  margin-bottom: 90px;
}
.about:after {
  position: absolute;
  content: "";
  height: 112px;
  width: 23px;
  background-color: #E31E24;
  top: 0;
  left: 0;
}
.about__title {
  margin-bottom: 36px;
}
.about__text {
  margin-bottom: 32px;
}
.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
.about__item:first-child {
  max-width: 150px;
}
.about__item:last-child:after {
  display: none;
}
.about__item:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #A6A6A6;
  right: 0;
  top: 0;
}
.about__item_num {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #E31E24;
}
.about__item_name {
  font-size: 20px;
  line-height: 24px;
}

.ben {
  padding: 0 0 0 63px;
  position: relative;
  margin-bottom: 67px;
}
.ben:after {
  position: absolute;
  content: "";
  width: 23px;
  height: 112px;
  background-color: #5B5B5B;
  left: 0;
  top: 0;
}
.ben__title {
  margin-bottom: 36px;
}
.ben__prev {
  margin-bottom: 65px;
}
.ben__prev_descr {
  padding: 0 30px;
  position: relative;
}
.ben__prev_descr:after {
  position: absolute;
  content: "";
  height: 73px;
  width: 1px;
  background-color: #E31E24;
  top: -65px;
  left: 20px;
  z-index: -1;
}
.ben__prev_descr:before {
  position: absolute;
  content: url("../img/nav-active.png");
  top: -1px;
  left: 16px;
}
.ben__prev_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}
.ben__prev_text {
  font-size: 16px;
  line-height: 20px;
}
.ben__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ben .ben__col_left .ben__col_item {
  max-width: 444px;
}
.ben .ben__col_left .ben__col_item .ben__col_item_descr {
  padding-left: 42px;
}
.ben .ben__col_left .ben__col_item .ben__col_item_title {
  margin-bottom: 24px;
  padding-top: 24px;
  position: relative;
}
.ben .ben__col_left .ben__col_item .ben__col_item_title:after {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #E31E24;
  left: -10px;
  top: -15px;
  content: "";
  z-index: -1;
}
.ben .ben__col_left .ben__col_item .ben__col_item_title:before {
  position: absolute;
  content: url("../img/nav-active.png");
  bottom: 3px;
  left: -14px;
}
.ben .ben__col_right .ben__col_item {
  max-width: 475px;
}
.ben .ben__col_right .ben__col_item .ben__col_item_descr {
  padding-left: 30px;
  padding-bottom: 24px;
  position: relative;
}
.ben .ben__col_right .ben__col_item .ben__col_item_descr:after {
  position: absolute;
  content: "";
  left: 20px;
  top: 10px;
  width: 1px;
  height: 100%;
  background-color: #E31E24;
  z-index: -1;
}
.ben .ben__col_right .ben__col_item .ben__col_item_descr:before {
  position: absolute;
  content: url("../img/nav-active.png");
  left: 15px;
  top: 0;
}
.ben .ben__col_right .ben__col_item .ben__col_item_title {
  margin-bottom: 24px;
}
.ben__col {
  width: 45%;
}
.ben__col_item {
  margin-bottom: 80px;
}
.ben__col_item_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.infra {
  padding: 0 0 0 63px;
  position: relative;
  margin-bottom: 76px;
}
.infra:after {
  position: absolute;
  content: "";
  width: 23px;
  height: 112px;
  background-color: #E31E24;
  left: 0;
  top: 0;
}
.infra__title {
  margin-bottom: 36px;
}
.infra__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.infra__tab {
  margin-right: 40px;
  padding: 0 0 16px 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}
.infra__tab:after {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #E31E24;
  content: "";
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.infra__tab.tab-active {
  font-weight: 700;
}
.infra__tab.tab-active:after {
  opacity: 1;
}
.infra__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.infra__content_item {
  max-width: 267px;
  margin-bottom: 40px;
}
.infra__content_item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.infra__content_item_descr {
  background-color: #E31E24;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  min-height: 54px;
  position: relative;
}
.infra__content_item_descr:after {
  position: absolute;
  content: "";
  left: 10px;
  top: 10%;
  height: 80%;
  width: 1px;
  background-color: #fff;
}
.infra__content_item:nth-child(even) .infra__content_item_descr {
  background-color: #A6A6A6;
}

.cond {
  padding: 0 0 0 63px;
  position: relative;
  margin-bottom: 96px;
}
.cond:after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 23px;
  height: 112px;
  background-color: #5B5B5B;
}
.cond__title {
  margin-bottom: 36px;
}
.cond__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cond__item {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 0;
  padding-left: 92px;
  padding-right: 15px;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  position: relative;
}
.cond__item_num {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #E31E24;
}
.cond__item_name {
  font-size: 18px;
  line-height: 22px;
}
.cond__item:nth-child(1):after {
  position: absolute;
  content: url("../img/cond1.svg");
  left: 20px;
  top: calc(50% - 28px);
}
.cond__item:nth-child(2):after {
  position: absolute;
  content: url("../img/cond2.svg");
  left: 20px;
  top: calc(50% - 28px);
}
.cond__item:nth-child(3):after {
  position: absolute;
  content: url("../img/cond3.svg");
  left: 20px;
  top: calc(50% - 28px);
}
.cond__item.cond-active {
  background-color: #E31E24;
  border-color: #E31E24;
  color: #fff;
}
.cond__item.cond-active .cond__item_num {
  color: #fff;
}