.acitem {
	padding-left: 63px;
	max-width: 1013px;
	min-width: 100%;
	padding-top: 35px;padding-bottom: 48px;

	&__prev {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 70px;
		&_title {
			max-width: 365px;
			font-weight: 500;
			font-size: 24px;
			line-height: 29px;
			color: $red;
			padding-left: 2px;
		}

		&_img {
			padding-right: 35px;
		}
	}

	&__body {

		&_title {
			font-weight: 500;
			font-size: 32px;
			line-height: 39px;
			margin-bottom: 8px;
		}

		&_date {
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			/* identical to box height */


			color: #9B9B9B;
			margin-bottom: 48px;
		}

		&_text {
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
		}
	}
}