.ac {
	max-width: 1028px;
	min-width: 100%;
	padding: 42px 0;
	padding-left: 64px;


	&__title {
		margin-bottom: 48px;
	}

	&__list {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;

	}

	&__item {
		max-width: 316px;
		display: block;

		&_img {
			margin-bottom: 17px;
		}	

		&_link {
			display: block;
			transition: all .3s ease;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;

			&:hover {
				text-decoration: underline;
			}
		}

	}
	&__link {
		display: none;
	}
}


@media (max-width: 1200px) {

	.ac {
		padding-left: 0;
		padding-top: 70px;
		&__list {
			gap: 0;

		}

		&__item {
			max-width: 100%;
			width: 100%;
			margin-bottom: 50px;

			&_img {
				width: 100%;
				object-fit: contain;
			}

			&_link {
				font-size: 18px;
				line-height: 22px;

			}
		}

		&__link {
			font-weight: 300;
			font-size: 16px;
			line-height: 20px;
			text-decoration: underline;
		}
	}

}