.cond {
	padding: 0 0 0 63px;
	position: relative;
	margin-bottom: 96px;

	&:after {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 23px;
		height: 112px;
		background-color: $d-gray;
	}

	&__title {
		margin-bottom: 36px;
	}

	&__list {
		display: flex;
		justify-content: space-between;

	}

	&__item {

		&:nth-child(1) {

			&:hover {

				.cond__item_img {
					svg {
						path {
							fill: #fff;
						}
					}
				}
			}
		}

		&:nth-child(2) {
			padding-right:80px;
		}

		&:nth-child(3) {
			padding-right:80px;
			&:hover {

				.cond__item_img {
					svg {
						path {
							fill: #fff;
						}
					}
				}
			}
		}
	}

	&__item {
		width: 320px;
		display: flex;
		justify-content: space-between;
		
		align-items: center;
		transition: all .3s ease;
		padding: 30px 0;
		padding-left: 30px;
		padding-right: 30px;
		border: 1px solid #000;
		color: #000;
		background-color: #fff;
		
		cursor: pointer;
		position: relative;

		&_img {
			// margin-right: 31px;
		}

		&_num {
			font-weight: bold;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 10px;
			color: $red;
		}

		&_name {
			font-size: 18px;	
			line-height: 22px;
		}



		&:hover {
			background-color: $red;
			border-color: $red;

			.cond__item_num {
				color: #fff;
			}
			.cond__item_name {
				color: #fff;
			}

			.cond__item_img {

				svg {
					path {
						stroke: #fff;
					}
				}
			}
		}


		&:active {
			background-color: #E24A4F;
			transform: scale(0.98);
		}


	}

	&__item.cond-active {
		background-color: $red;
		border-color: $red;
		color: #fff;

		.cond__item_num {
			color: #fff;
		}
	}
}


@media (max-width: 1200px) {
	.cond {
		padding: 0;
		margin-bottom: 60px;

		&:after {
			display: none;
		}

		&__title {

		}

		&__list {
			flex-wrap: wrap;
		}

		&__item {
			width: 100%;
			justify-content: space-evenly;
			padding-left: 0;margin-bottom: 20px;
		}
	}
}