.gallery {

	margin-bottom: 96px;
	&__title {
		padding-left: 63px;
		margin-bottom: 46px;
	}

	&__body {
		padding-bottom: 45px;
		width: 703px;
		&_wrapper {

		}

		&_slide {

		}
	}

	.swiper-pagination {
		height: 4px;
		bottom: 0 !important;
		top: unset;
		width: 80%;
		right: 0;
		left: unset;
		margin-bottom: 10px;
	}



	.swiper-pagination-progressbar-fill {
		background-color: $red;
		height: 100%;
	}

	&-prev {
		z-index: 1000;
		left: 5%;
		bottom: 0;
		position: absolute;
	}

	&-next {
		z-index: 1000;
		left: 10%;
		bottom: 0;
		position: absolute;
	}
}

@media (max-width: 1200px) {
	.gallery {
		margin-bottom: 80px;

		.swiper-pagination {
			display: none;
		}

		&-prev {
			right: 56px;
			left: auto;
		}

		&-next {
			right: 0;
			left: auto;
		}

		&__body {
			width: 100% !important;

			&_item {
				img {
					width: 100%;
				}
			}
		}
	}
}