.main {
	max-width: 1182px;
	width: 100%;

	&__top {
		display: flex;
		justify-content: space-between;
		padding: 10px 100px;
		&_list {
			display: flex;
		}

		&_item {
			display: block;
			margin-right: 40px;
			transition: all .3s ease;

			&:hover {
				color: $red;
			}


		}

		&_item.main-nav-active {
			color: $red;
			font-weight: 500;
		}

		&_download {
			font-size: 16px;
			line-height: 20px;
			transition: all .3s ease;
			&:hover {
				color: $red;
			}
		}
	}
}