.plan {
	padding: 0 0 0 63px;
	position: relative;
	margin-bottom: 96px;

	position: relative;

	&:after {
		position: absolute;
		content: '';
		width: 23px;
		height: 112px;
		background-color: $d-gray;
		top: 0;
		left: 0;
	}

	&__title {
		margin-bottom: 64px;
		text-align: center;
	}

	&__content {


	}


	&__tabs {
		display: flex;
		justify-content: center;
	}

	&__tab {
		font-size: 16px;
		line-height: 20px;
		margin: 0 20px;
		padding-bottom: 16px;
		cursor: pointer;

		position: relative;

		&:after {
			position: absolute;
			content: '';
			bottom: 0;
			left: 0;
			height: 3px;
			width: 100%;
			background-color: $red;
			opacity: 0;
			transition: all .3s ease;
		}
	}

	&__tab.plan-active {
		font-weight: 600;

		&:after {
			opacity: 1;
		}
	}

	&__body {

		&_item {
			padding-bottom: 30px;

			&_wrapperr {

			}

			&_slide {
				padding-top: 60px;

				display: flex;
				justify-content: space-between;


				.item__descr {
					max-width: 279px;
					width: 100%;
					&_title {
						margin-bottom: 32px;
					}

					&_list {
						margin-bottom: 57px;

					}

					&_pos {
						padding: 15px 0;
						display: flex;
						justify-content: space-between;
						border-bottom: 0.5px solid #000000;

						&_name {

						}

						&_info {
							font-weight: 500;
							font-size: 16px;
							line-height: 20px;
						}
					}

					&_btn {
						padding: 10px 0;
						width: 100%;
						font-weight: 600;
						font-size: 16px;
						line-height: 20px;
						background-color: $red;
						color: #fff;

						transition: all .2s ease;

						&:active {
							background-color: #E24A4F;
							transform: scale(0.98);
						}
					}
				}

			}
		}
	}

	&-prev {
		position: absolute;
		bottom: 0;
		left: 45%;
		z-index: 10000;
		cursor: pointer;
	}

	&-next {
		position: absolute;
		bottom: 0;
		right: 45%;
		z-index: 10000;
		cursor: pointer;
	}
}