.prev {
	margin-bottom: 90px;
	img {

	}
	&__inner {

		position: relative;

		.prev-left {
			position: absolute;
			top: 87px;
			left: 10px;
			opacity: 0;
			transition: all .3s ease;

			&:hover {
				opacity: 1;
			}
		}

		.prev-right {
			position: absolute;
			top: 70px;
			right: 10px;
			opacity: 0;
			transition: all .3s ease;

			&:hover {
				opacity: 1;
			}


		}

		.prev-top {
			position: absolute;
			top: 5px;
			left: 378px;
			opacity: 0;
			transition: all .3s ease;

			&:hover {
				opacity: 1;
			}


		}

		.prev-bottom {
			position: absolute;
			bottom: 14px;
			right: 154px;
			opacity: 0;
			transition: all .3s ease;

			&:hover {
				opacity: 1;
			}

		}
	}

	&__btn {
		padding: 18px 82px 18px 20px;
		background-color: $red;
		display: inline-block;
		position: absolute;
		bottom: 5px;
		left: 111px;
		color: #fff;

		&:after {
			position: absolute;
			content: url('../img/right.svg');
			right: 40px;
			top: calc(50% - 7px);
			transition: all .3s ease;
		}

		&:hover {

			&:after {
				transform: translateX(20px);
			}
		}
	}
}

@media (max-width: 1200px) {
	.prev {
		margin-bottom: 120px;
		&__img {
			width: 100%;
			max-height: 377px;
			object-fit: cover;
		}

		.prev-left {
			display: none;
		}

		.prev-top {
			display: none;
		}

		.prev-right {
			display: none;
		}

		.prev-bottom {
			display: none;
		}

		&__btn {
			height: 155px;
			width: 166px;
			bottom: -70px;
			left: 16px;
			padding-bottom: 60px;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 15px;


			&:after {
				bottom: 41px;
				left: 23px;
				right: auto;
				top: auto;
			}
		}
	}
}