* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

// img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;

// }

html {
    scroll-behavior: smooth;
}


input, button, textarea {
    background-color: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
}


body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    color: #000;
}

//HELPERS
.sec-title {
    font-family: 'Bebas Neue Book';
    font-size: 50px;
    line-height: 50px;
    font-weight: 400;
}







//WRAPPER ================================================================
.wrapper {
    display: flex;
    height: 100%;
}

@media (max-width: 1200px) {
    .wrapper {
        // width: 100%;
    }
}

.content {
    max-width: 1093px;
    width: 100%;
}

@media (max-width: 1200px) {
    .content {
        padding: 0 16px;
    }

    .sec-title {
        font-size: 30px;
        line-height: 33px;
    }

    .mob-bot {
        position: relative;
        padding-bottom: 435px;
    }
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}






